nav {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  display: flex;
  margin: 1.5em;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

i {
  color: red;
}

#logo {
  display: flex;
  margin: 1.5em;
  font-family: 'Bungee', cursive;
  font-size: x-large;
}