section {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

form label {
  margin-top: 50px;
  margin-bottom: 20px;
}

#tweet-text {
  display: flex;
  width: 100%;
  font-weight: bold;
  background-color: #f4f1ec ;
  color: #545149;
  border-style: none;
  border-bottom: 4px solid #545149;
}

#tweet-text:focus {
  outline-width: 0;
}

#tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5%;
  width: 100%;
}

#tweetButton {
  font-family: 'Bungee', cursive;
  font-size: medium ;
  background-color: #4056A1;
  color: #FFFFFF;
}

#tweetButton:hover {
  outline: #cad6f6 auto 100px;
}

.counter {
  display: flex;
  font-family: 'Bungee', cursive;
  font-size: medium ;
  color: #545149;
}

.negative {
  color: red;
}