.tweet-box {
  display: flex;
  width: 100%;
  height: 270px;
  background-color: #f4f1ec;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 4px solid #545149;
  margin-top: 20px;
  padding: 15px;
}

.tweet-box article {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 20px;
  
}

.tweet-head {
  all: initial;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  color: #545149;
  background-color: #f4f1ec ;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.tweet-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.tweet-prefix {
  font-weight:bold;
  color: #cad6f6;
}

.tweet-body {
  display: flex;
  width: 100%;
  flex-grow: 4;
  flex-direction: column;
  justify-content: center;
  border-bottom: 4px solid #545149;
  font-weight: 600;
  margin: 0;
}

.tweet-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  flex-grow: 1;
}

.footer-text {
  font-size: x-small;
}

.tweet-foot span .fas {
  color: #4056A1;
}

.footer-fas {
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-around;
  height:100%;
  width: 100px;
}
